<ion-header>
  <ion-navbar>
    <ion-title>{{ cardapioBebidas.Bebida }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ cardapioBebidas.Bebida }} - R$ {{ cardapioBebidas.Preco }}
      </ion-card-title>

      <button ion-button type="button" (click)="adicionarPedido()">Adicionar Pedido</button>
    </ion-card-content>
  </ion-card>
</ion-content>
