<ion-content padding>
  <ion-tabs>
    <ion-tab tabIcon="car" [root]="ListaPedidos"></ion-tab>
  </ion-tabs>
</ion-content>
<!-- boat, speedometer, clipboard, compass, navigate, done-all, happy, sad, restaurant -->
