<ion-header>
  <ion-navbar>
    <ion-title>{{ cardapioPizzas.Pizza }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ cardapioPizzas.Pizza }} - R$ {{ cardapioPizzas.Preco }}
      </ion-card-title>
      <b>Ingredientes: </b>
      <p [innerHtml]="cardapioPizzas.Ingredientes"></p>

      <button ion-button type="button" (click)="adicionarPedido()">Adicionar Pedido</button>
    </ion-card-content>
  </ion-card>
</ion-content>
