<ion-header>
  <ion-navbar>
    <ion-title>
      Lista dos Pedidos
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="lista-pedidos">
  <ion-searchbar [(ngModel)]="terms" placeholder="Buscar"></ion-searchbar>
  <button ion-button type="button" (click)="sort()">Ordenar</button>

  <ion-list>
    <ion-item (click)="getDetalhesPedido(cardapioPedidos.id)" *ngFor="let cardapioPedidos of result | search: terms | sort: {property: column, order: order}">
      <h2>{{ cardapioPedidos.Cliente }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
