<ion-header>
  <ion-navbar>
    <ion-title>
      Lista das Bebidas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="lista-bebidas">
  <ion-searchbar [(ngModel)]="terms" placeholder="Buscar"></ion-searchbar>
  <button ion-button type="button" (click)="sort()">Ordenar</button>

  <ion-list>
    <ion-item (click)="getDetalhesBebida(cardapioBebida.id)" *ngFor="let cardapioBebida of result | search : terms | sort: {property: column, order: order}">
      <h2>{{ cardapioBebida.Bebida }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
