<ion-header>
  <ion-navbar>
    <ion-title>{{ cardapioPedidos.Cliente }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ cardapioPedidos.Cliente }} - R$ {{ cardapioPedidos.Total }}
      </ion-card-title>
      <b>Latitude: </b>
      <p [innerHtml]="cardapioPedidos.Latitude"></p>
      <b>Longitude: </b>
      <p [innerHtml]="cardapioPedidos.Longitude"></p>
      <b>Pizza: </b>
      <p [innerHtml]="cardapioPedidos.Pizza"></p>
      <b>QuantidadePizza: </b>
      <p [innerHtml]="cardapioPedidos.QuantidadePizza"></p>
      <b>Bebida: </b>
      <p [innerHtml]="cardapioPedidos.Bebida"></p>
      <b>QuantidadeBebida</b>
      <p [innerHtml]="cardapioPedidos.QuantidadeBebida"></p>
      <b>Total: </b>
      <p [innerHtml]="cardapioPedidos.Total"></p>
      <b>Forma Pagamento: </b>
      <p [innerHtml]="cardapioPedidos.FormaPagamento"></p>
      <b>Troco Para: </b>
      <p [innerHtml]="cardapioPedidos.TrocoPara"></p>
      <b>Entregue: </b>
      <p [innerHtml]="cardapioPedidos.Entregue"></p>
    </ion-card-content>
  </ion-card>

  <div #map id="map"></div>

</ion-content>
