<ion-header>
  <ion-navbar>
    <ion-title>
      Lista das Pizzas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="lista-pizzas">
  <ion-searchbar [(ngModel)]="terms" placeholder="Buscar"></ion-searchbar>
  <button ion-button type="button" (click)="sort()">Ordenar</button>

  <ion-list>
    <ion-item (click)="getDetalhesPizza(cardapioPizza.id)" *ngFor="let cardapioPizza of result | search : terms | sort: {property: column, order: order}">
      <h2>{{ cardapioPizza.Pizza }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
