page-lista-pizzas {

}

.toolbar-title {
    color: rgb(75, 252, 6);
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.toolbar-background {
    background-color: rgb(218, 40, 40);
}
